@media(max-width:450px){

   .welcome-screen{
          
          width: 100%;
          height: 100%;
          position: absolute;
          top:0;
          left:0;
          background-color: white;
          z-index: 10;
          padding: 30px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;

   }

   .welcome-screen > img{
    width: 80%;
    object-fit: contain;
    animation-name: rotate-logo;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    transition: 1s;
   }

   .welcome-screen h2{
    font-size: 30px;
    color:black;
    font-weight: 500;
   }

   .welcome-screen h2 b{
    color: rgb(235, 171, 23);

   }
   
   .welcome-screen small{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
   }

   .welcome-screen small b{
    font-size: 18px;
   }


 
   header{
    width: 100%;
    height: 70px;
     background-color: rgb(22, 0, 53);
     padding: 10px 25px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     position: relative;
   }

   header > span{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap:15px;
      color:rgba(255,255,255,0.6);
   }

   header > span img{
      width: 25px;
      height: 25px;
      object-fit: contain;
   }

   header nav{
    position: absolute;
    top:70px;
    left:-320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    gap:20px;
    height: calc(100vh - 100px);
    width: 320px;
    background-color: rgb(43, 1, 101);
    transition: 1s;
    z-index: 100;
   }

   header nav a img{
    opacity: 0.7;
    transition: 0.5s;
   }

   header nav a{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap:15px;
    color:rgba(255,255,255,0.7);
    font-size: 20px;
    font-weight: 200;
   }

   header nav a:hover img{
    opacity: 1;
    transform: scale(1.2);
   }

   header nav a:hover{
    color:white;
   }

   header nav div{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    flex-direction: column;
    color:rgba(255,255,255,0.7);
    font-weight: 200;
    border-top: 1px solid rgba(255,255,255,0.6);
    padding-top: 20px;
   }

   header nav div h3{
    align-self: flex-start;
   }
   header nav div section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
   }

header nav div section small{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

   header nav div section img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid rgba(255,255,255,0.7);
    cursor: pointer;
   }

   .menu-btn{
    width: 30px;
    height: 30px;
    background-image: url("./assets/icons/menu.png");
    background-size: cover;
    cursor: pointer;
    border: none;
    background-color: transparent;
    opacity: 0.6;
   }

   /* main styling starts here */

   main{
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   }


   main .water-mark{
    width: 90%;
    object-fit: contain;
    opacity: 0.1;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: -5;
    transition: 1s;
    animation-name: flash-logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: normal;
   }

.finish-modal{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgb(10, 0, 23);
  padding: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 7;


}

.finish-modal > span{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.finish-modal > span small{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    width: fit-content;
    padding: 6px 15px;
    border-radius: 50px;
    background-color: rgb(37, 0, 89);
}

.finish-modal > span small b{
    font-size: 20px;
    color:gold;
}
.finish-modal > img{
    width: 100%;
    object-fit: contain;
    
}

.finish-modal h1{
    font-weight: 200;
    text-align: center;
    font-size: 30px;
}

.finish-modal h1 b{
    color:gold;
    font-size: 50px;
}

.finish-modal > button{
    width: fit-content;
    padding: 10px 20px;
    border: 1px solid gold;
    background-color: transparent;
    color:gold;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.finish-modal > button:hover{
    background-color: gold;
    color:rgb(22, 0, 53);

}
   main .top{
    width: 100%;
    height:100px;
    background-color: rgb(43, 1, 101);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding: 20px 10px;
    
   }
   .top div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   }

   .top div span{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:10px;
    color:gold;
   }

   .start-btn{
    width: 200px;
    height: 70px;
    border-radius: 100px;
    border: 1px solid gold;
    color:white;
    background-color: transparent;
    font-size: 25px;
    padding: 12px 25px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    
   }

   .start-btn:hover{
    background-color: gold;
    color:rgb(22, 0, 53);
   }

   .question-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   main .question-container{
    width: 90%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/images/question_frame.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    padding: 15px;
  
   }

   main .question-container h4{
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
   }

   main .options-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding: 10px;
   }

   main .options-container div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
   }

   main .options-container div button{
       width: 50%;
       height: 80px;
       background-image: url("./assets/images/option_frame.png");
       background-position: center center;
       background-size: contain;
       background-repeat: no-repeat;
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 11px;
       background-color: transparent;
       border: none;
       color:white;
       cursor: pointer;
       transition: 0.5s;
       font-weight: 400;
       padding: 10px;
   }
   
   /* main .options-container div button:hover{
    background-image: url("./assets/images/option_frame-filled.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
   } */

   .next-btn{
       width: fit-content;
       padding: 10px 30px;
       border:1px solid gold;
       color:gold;
       display: none;
       justify-content: center;
       align-items: center;
       background-color: transparent;
       cursor: pointer;
       transition: 0.5s;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 100px;
   }

   .next-btn:hover{
      background-color: white;
      color:rgb(37, 0, 89);
    
   }


   /* footer styling starts here */
   footer{
    width: 100%;
    height: 30px;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;

   }

   footer p{
    font-size: 10px;
    color:rgb(22, 0, 53);
   }

   /* utility class */
   .slide-nav{
       left:0px
   }

   main .options-container div .correct-answer{
        background-image: url("./assets/images/option_frame-correct.png");
   }

   main .options-container div .wrong-answer {
       background-image: url("./assets/images/option_frame-wrong.png");
   }
   





   /* animation key frames */
   @keyframes rotate-logo {
       from {
           transform: rotate(0deg);
       }

       to {
           transform: rotate(360deg);
       }

   }

   @keyframes flash-logo {
       from {
           opacity: 0.1;
       }

       to {
          opacity: 0.2;
       }

   }
}

